#content{
    overflow: hidden;
}

.estimateProbabilityTable .sapMRb, .riskTable .sapMRb{
    float: none !important;
}


.myBudgetTableRow.sapMListTblRow {
	background-color: #f0f0f0;
}

.myBudgetTableRowSpan.sapMListTblRow span{
	font-weight: bold;
}
	
td>[id *= chart]{
    margin: 0 auto;
}

td .sapMCbMarkChecked{
    border-color: #007833 !important;
}

td .sapMCbMarkChecked:before{
    color: #007833 !important;
}

[data-dangerstate = black],
[data-dangerstate = red],
[data-dangerstate = yellow],
[data-dangerstate = green]{
    text-align: center !important;
}

[id*=LeftoverRiskTable] [data-dangerstate = black],
[id*=LeftoverRiskTable] [data-dangerstate = red],
[id*=LeftoverRiskTable] [data-dangerstate = yellow],
[id*=LeftoverRiskTable] [data-dangerstate = green],
[id*=OTPBriskTable] [data-dangerstate = black],
[id*=OTPBriskTable] [data-dangerstate = red],
[id*=OTPBriskTable] [data-dangerstate = yellow],
[id*=OTPBriskTable] [data-dangerstate = green]{
    opacity: 0.3;
}

[data-selected=true]{
    opacity: 1 !important;
}

[data-dangerstate = black]{
    color: white;
    background-color: #d30f15;
}

[data-dangerstate = red]{
    color: white;
    background-color: #ff8580;
}

[data-dangerstate = yellow]{
    background-color: #FFFF00;
}

[data-dangerstate = green]{
    background-color: #66FF33;
}

[id*=LeftoverRiskTable] .sapMListTblCell,
[id*=OTPBriskTable] .sapMListTblCell{
    padding: 1px 2px  !important;
}

[id*=appNavContainer] .sapMLabel{
    white-space: normal !important;
}

.quizBlock .sapMTextLineClamp {
    -webkit-line-clamp: 5 !important;
    line-height: normal !important;
}